.container-fluid {
  margin: 0px auto;
  padding: 0px;
  background-color: var(--white);
  height: 730px;
  display: flex;
}
.col-3 {
  background-color: #b0e0e6;
  width: 100%;
  height: 97.5%;
}

.model-add-information {
  width: 30%;
  height: 31%;
}
.model-add-information-bg {
  background-color: #b0e0e6;
  border-radius: 6px;
  height: 100%;
}

.add-information-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  border-bottom: solid 0.5px #d3d3d3;
}

.information-title {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
}
.close-btn {
  background-color: transparent;
  border: none;
}
.close-ic {
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.info-image {
  height: 100px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.img-avatar {
  margin-left: 183px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}
.title-name {
  display: flex;
  justify-content: center;
}
.title-name .name {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 2px;
  color: white;
}
.form-call {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.icon-refuse {
  margin-right: 40px;
  background-color: red;
  padding: 5px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.icon-accept {
  margin-left: 40px;
  background-color: #249544;
  padding: 5px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  animation: shake 1s infinite;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
//
.model-add-emergency {
  width: 590px;
  height: 380px;
}
.model-add-emergency-bg {
  //background-color: #b0e0e6;
  border-radius: 6px;
  width: 590px;
  height: 380px;
  // height: 100%;
  // background-color: #f44336;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f44336, #ff5722);
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.notification-icon {
  margin-bottom: 30px;
}

.notification-icon img {
  width: 80px;
  height: 80px;
}

.notification-header {
  text-align: center;
  margin-bottom: 30px;
}

.notification-header h2 {
  font-size: 28px;
  margin: 0;
}

.notification-body {
  text-align: center;
  margin-bottom: 30px;
}

.notification-body p {
  margin: 0;
}

.map-container {
  width: 90%;
  height: 50%;
  margin-bottom: 30px;
}
.map-container-url {
  text-align: center;
}

#map {
  width: 100%;
  height: 100%;
}

.notification-footer {
  text-align: center;
}

.notification-footer button {
  background-color: #fff;
  color: #f44336;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
