.container {
  padding-top: 80px;
}
.panel-border {
  height: 600px;
  width: 750px;
  margin-left: 27%;

  display: inline;
}
.panel-heading {
  margin-bottom: 10px;
  margin-left: 12%;
  color: #0077be;

  display: block;
}
.panel-heading h3 {
  font-size: 3rem;
  font-family: var(--font-family);
}
#forgot {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.back {
  display: flex;
  margin-top: 10px;
  margin-left: -10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.back h3 {
  margin-top: 2px;
  font-size: 1.2rem;
}
.input-field {
  width: 350px;
}
.form-group-1 {
  display: flex;
}
.btn-register {
  width: 720px;
}
