.left {
  margin: 0px auto;
  padding: 0px;
  height: 730px;
  border-right: 0.5px solid gray;
}
.Logo {
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
  height: 55px;
}
.Logo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.Logo h1 {
  font-weight: bold;
  margin-top: 13px;
  margin-left: 10px;
  font-family: var(--font-family);
  font-size: 2.2rem;
}
.separator {
  border-bottom: 1px solid gray;
  background-color: var(--border);
  margin-top: 10px;
  width: 100%;
}
.group-item {
  display: flex;
  height: 60px;
  align-items: center;
}
.group-item .icon {
  color: var(--primary);
  font-size: 30px;

  margin-left: 10px;
}
.group-item .icons {
  color: white;
  font-size: 30px;

  margin-left: 10px;
}
.group-item span {
  margin-left: 10px;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: bold;
}
.itemLeft {
  height: 60px;
  margin-left: 1px;
  background-color: var(--white);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    background-color: #f0eeed;
  }
}
