.container {
  padding-top: 80px;
  padding-left: 150px;
}
.panel-border {
  height: 360px;
  width: 400px;
  border-radius: 20px;
}
.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}
.panel-heading h3 {
  font-size: 3rem;
  font-family: var(--font-family);
}
#forgot {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.form-inline u {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--B60);
  margin-left: 70%;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: var(--B60);
}

.title-register {
  font-weight: bold;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.2rem;
  margin-top: 5px;
}
.title-register u {
  color: var(--B60);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.back {
  display: flex;
  margin-top: 10px;
  margin-left: -10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.back h3 {
  margin-top: 2px;
  font-size: 1.2rem;
}
