.title {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
  margin-left: 10px;
}
.input-field {
  width: 350px;
}
.input-field input {
  font-size: 2rem;
}
.input-field-tim {
  width: 720px;
}
.input-field-tim input {
  font-size: 2rem;
}
.form-group-1 {
  display: flex;
  margin-left: 10px;
}
.form-group-Glucose {
  margin-top: -26px;
}
.btn-add {
  margin-left: 10px;
}
