.container {
  margin: 0px;
  padding: 0px;
}
.col-12 {
  display: flex;
}
.col-4 {
  height: 600px;
  width: 400px;
  background-color: white;
  margin-left: 100px;
  border: 1px solid silver;
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
.title-search {
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.center-Infor {
  display: flex;
  margin-top: 10px;
}

.center-Infor .col-4 {
  border-radius: 10px;
  border: 1px solid silver;
  width: 412px;
  height: 568px;
  margin-left: 25px;
  margin-top: 20px;
}
.title-list {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-family);
  text-align: center;
  line-height: 30px;
  height: 30px;
}
.strikethrough {
  border: 1px solid silver;
}

.col-md-8 {
  display: block;
  margin-top: 10px;
}
.search {
  position: relative;
}
.search-form {
  background-color: #dadada;
  height: 535px;
  padding-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search input {
  height: 35px;
  text-indent: 15px;
  border: 2px solid #d6d4d4;
  margin-left: 10px;
  border-radius: 5px;
  width: 327px;
}
.search input:focus {
  box-shadow: none;
  border: 2px solid var(--primary);
}
.search .item {
  position: absolute;
  top: 10px;
  left: 15px;
}
.search button {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 35px;
  width: 60px;
  background-color: var(--primary);
}
.search-form .list-sum {
  width: 95%;
  height: 310px;
  border-collapse: collapse;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.list-conversation {
  display: flex;
  align-items: center;
  width: 386px;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: #f0eeed;
    transition: background-color ease-in-out 200ms;
  }
}
.avatar-img {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.username {
  font-size: 1.6rem;
  font-weight: bold;
}

.message {
  font-size: 1.4rem;
}
.result-add-friend button {
  padding: 10px;
  border: 0;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);
  margin-right: 5px;
  width: 80px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
//
.col-8 {
  background-color: white;

  height: 600px;
  margin-left: 50px;
  width: 900px;
}
.form-group-1 {
  display: flex;
  margin-top: 10px;
}
.input-field {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
  width: 300px;
  margin-left: 10px;
}
.input-field b {
  font-weight: bold;
  font-size: 1.7rem;
}
.input-field span {
  font-weight: 500;
  font-size: 1.5rem;
}
.input-field-2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-family);
  margin-left: 10px;
  padding-bottom: 17px;
}
.input-field-2 b {
  font-weight: bold;
  font-size: 1.7rem;
}
.input-field-2 span {
  font-weight: 500;
  font-size: 1.5rem;
}
.Content {
  display: flex;
}
.Content-img .img {
  margin-top: 10px;
  width: 300px;
  height: 250px;
  margin-left: 10px;
  margin-right: 20px;
  object-fit: cover;
}
