.form {
  position: relative;
  margin-top: 20px;
}

.form .search {
  position: absolute;
  top: 5px;
  left: 180%;
  font-size: 30px;
  color: #9ca3af;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.form input {
  height: 40px;
  width: 720px;
  text-indent: 17px;
  margin-left: 10px;
  margin-top: 5px;
  font-family: var(--font-family);
  font-size: 1.5rem;
  border: 1px solid silver;
  border-radius: 30px;
}
.model-add-information {
  width: 90%;
  height: 90%;
}
.model-add-information-bg {
  background-color: var(--white);
  border-radius: 6px;
  height: 100%;
}

.add-information-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  border-bottom: solid 0.5px #d3d3d3;
}

.information-title {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
}
.close-btn {
  background-color: transparent;
  border: none;
}
.close-ic {
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.search-content {
  height: 500px;
  display: flex;
}
.search-content .search-text {
  height: 620px;
  flex: 7;
  text-align: left;
  margin-left: 20px;
  border-collapse: collapse;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-text-title {
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
.search-text-title a {
  text-decoration: none;
}
.search-text-snippet {
  font-size: 1.2rem;
  font-weight: 500;
  width: 60%;
}
.search-text-img img {
  width: 100px;
  height: 100px;
}
.search-content .search-map {
  height: 620px;
  flex: 5;
  font-family: var(--font-family);
  border-collapse: collapse;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.map-patientBook:hover .map-address {
  display: block;
}
.map-address {
  display: none;
  width: 100px;
  height: 100px;
}

.search-map-name {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 700;
}
.search-map-phone,
.search-map-address {
  font-size: 1.5rem;
  font-weight: 700;
}
.search-map-rating {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 2px;
}
.search-map-rating1 {
  font-size: 1.5rem;
  font-weight: 700;

  margin-top: 2px;
}
// .suggestions {
//   background-color: white;
//   width: 684px;
//   margin-left: 29px;
// }
ul.suggestions {
  position: absolute;
  top: 40px;
  left: 24px;
  width: 691px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.suggestions li {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

ul.suggestions li:hover {
  background-color: #f1f1f1;
}
