.form {
  position: relative;
  margin-left: -54%;
}

.form .search {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 30px;
  color: #9ca3af;
}

.form input {
  height: 50px;
  width: 772px;
  text-indent: 35px;
  margin-left: 10px;

  font-family: var(--font-family);
  font-size: 2rem;
  border: none;
}
