.container {
  margin: 0px;
  padding: 0px;
  height: 680px;
  background-color: #f5f6f8;
  margin-left: -13px;
}
.col-12 {
  display: flex;
}

.addIndex {
  border: none;
  margin-top: 10px;
}
.addIndex-bell {
  border: none;
  margin-top: 10px;

  color: red;
}
.addIndex-lable {
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 68%;
}
.title {
  font-family: var(--font-family);
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 30px;
}
.Chart {
  display: flex;
  width: 88%;
}
.chatBox {
  margin-left: -130px;
  margin-top: 60px;
}
////
///
.model-add-information {
  width: 720px;
  height: 500px;
}
.model-add-information-bg {
  background-color: var(--white);
  border-radius: 6px;
  height: 500px;
}

.add-information-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  border-bottom: solid 0.5px #d3d3d3;
}

.information-title {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
}
.close-btn {
  background-color: transparent;
  border: none;
}
.close-ic {
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.col-2 {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.model-add-detail-information {
  width: 720px;
  height: 500px;
}
.model-add-detail-information-bg {
  background-color: var(--white);
  border-radius: 6px;
  height: 450px;
}
// bác sĩ
.center-Infor {
  display: flex;
  margin-top: 10px;
}

.center-Infor .col-4 {
  border-radius: 10px;
  border: 1px solid silver;
  width: 300px;
  margin-left: 10px;
  margin-top: 20px;
}
.title-list {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-family);
  text-align: center;
  margin-top: 10px;
}
.strikethrough {
  border: 1px solid silver;
}

.col-md-8 {
  display: block;
  margin-top: 10px;
}
.search {
  position: relative;

  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}
.search input {
  height: 30px;
  text-indent: 15px;
  border: 2px solid #d6d4d4;
}
.search input:focus {
  box-shadow: none;
  border: 2px solid var(--primary);
}
.search .item {
  position: absolute;
  top: 8px;
  left: 5px;
}
.search button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 60px;
  background-color: var(--primary);
}
.list-conversation {
  display: flex;
  align-items: center;

  margin-top: 10px;
  &:hover {
    width: 300px;
    cursor: pointer;
    background-color: rgb(248, 233, 233);
    transition: background-color ease-in-out 200ms;
  }
}
.avatar-img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  margin-top: 10px;
}

.username {
  font-size: 1.6rem;
}

.message {
  font-size: 1.4rem;
}
.result-add-friend button {
  padding: 10px;
  border: 0;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);

  width: 80px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
//
