.container {
  height: 669px;
  background-color: #f0f2fa;
  width: 100%;
}
.col-12 {
  display: flex;
}

.addIndex {
  border: none;
  margin-top: 18px;
  margin-left: 10px;
  color: var(--primary);
  cursor: pointer;
}
.addIndex-bell {
  border: none;
  margin-top: 16px;
  color: red;
  cursor: pointer;
}
.addIndex-lable {
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 68%;
}
.title {
  font-family: var(--font-family);
  font-size: 1.8rem;
  margin-top: 20px;
  margin-left: 30px;
}
.Chart {
  display: flex;
}
.Chart-bot {
  position: absolute;
  margin-left: 690px;
  margin-top: 40px;
}
.chatBox {
  margin-left: -130px;
  margin-top: 60px;
}
////
///
.model-add-information {
  width: 720px;
  height: 500px;
}
.model-add-information-bg {
  background-color: var(--white);
  border-radius: 6px;
  height: 500px;
}

.add-information-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  border-bottom: solid 0.5px #d3d3d3;
}

.information-title {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
}
.close-btn {
  background-color: transparent;
  border: none;
}
.close-ic {
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.col-2 {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.model-add-detail-information {
  width: 720px;
  height: 500px;
}
.model-add-detail-information-bg {
  background-color: var(--white);
  border-radius: 6px;
  height: 450px;
}
// bác sĩ
.center-Infor {
  display: flex;
  margin-top: 10px;
}

.center-Infor .col-4 {
  border-radius: 10px;
  border: 1px solid silver;
  width: 320px;
  height: 375px;
  margin-left: 25px;
  margin-top: 20px;
}
.title-list {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-family);
  text-align: center;
  line-height: 30px;
  height: 30px;
}
.strikethrough {
  border: 1px solid silver;
}

.col-md-8 {
  display: block;
  margin-top: 10px;
}
.search {
  position: relative;
}
.search-form {
  background-color: #dadada;
  height: 342px;
  padding-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search input {
  height: 35px;
  text-indent: 15px;
  border: 2px solid #d6d4d4;
  margin-left: 10px;
  border-radius: 5px;
  width: 230px;
}
.search input:focus {
  box-shadow: none;
  border: 2px solid var(--primary);
}
.search .item {
  position: absolute;
  top: 10px;
  left: 15px;
}
.search button {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 35px;
  width: 60px;
  background-color: var(--primary);
}
.search-form .list-sum {
  width: 95%;
  height: 310px;
  border-collapse: collapse;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.list-conversation {
  display: flex;
  align-items: center;
  width: 300px;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: #f0eeed;
    transition: background-color ease-in-out 200ms;
  }
}
.avatar-img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 5px;
}

.username {
  font-size: 1.6rem;
  font-weight: bold;
}

.message {
  font-size: 1.4rem;
}
.result-add-friend button {
  padding: 10px;
  border: 0;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);
  margin-right: 5px;
  width: 80px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
//
.bmi-index {
  display: flex;
}
.bmi-index p {
  font-size: 1.5rem;
  font-family: var(--font-family);
  margin-left: 5px;
  margin-top: -3px;
}
