.map-patientBook:hover .map-address {
  display: block;
}
.map-address {
  display: none;
  width: 100px;
  height: 100px;
}
.form-sum {
  position: relative;
}

.search {
  position: absolute;
  top: 0;
  z-index: 50;
  display: inline-flex;
  align-items: center;
  // background-image: linear-gradient(45deg, #0561ee, #18e0b5);
  background-color: #eff0f6;

  padding: 10px;
  border-radius: 4px;
}
.search :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}
.search-input {
  width: 0;
  font-size: 15px;
  transition: width 0.5s;
}
.search-button {
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color 0.25s;
  font-size: 30px;
  color: #9ca3af;

  &:hover {
    opacity: 0.6;
  }
}
.search:focus-within input {
  width: 200px;
}
.siteUser {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: #eff0f6;
  width: 100px;
  height: 80px;
  margin-left: 13px;
}
